PUSHC 0.0
SET a
JMP cond1
body1: PUSHC 0.0
SET b
JMP cond2
body2: PUSHV a
PRINT
PUSHV b
PRINT
PUSHV b
PUSHC 1.0
ADD
SET b
cond2: PUSHV b
PUSHC 2.0
SUB
JINZ body2
PUSHV a
PUSHC 1.0
ADD
SET a
cond1: PUSHV a
PUSHC 10.0
SUB
JINZ body1
PUSHC 100.0
PRINT
